@model IEnumerable<CapstoneProject.Models.Project>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SquareFootage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsProjectAreaCleared)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LatAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salesperson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SquareFootage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsProjectAreaCleared)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LatAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salesperson.SalespersonID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
